<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.hegongda.mapper.NoticeMapper" >

    <update id="updateNotice" parameterType="cn.hegongda.pojo.TNotice" >
        UPDATE t_notice
        <set>
            <if test="title != null">
                title = #{title},
            </if>
            <if test="content != null">
                content = #{content},
            </if>
            <if test="time != null">
                time = #{time},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="uid != null">
                uid = #{uid}
            </if>
        </set>
        where id=#{id}

    </update>

</mapper>