<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.hegongda.mapper.TArticleMapper" >
  <resultMap id="BaseResultMap" type="cn.hegongda.pojo.TArticle" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="num" property="num" jdbcType="INTEGER" />
    <result column="labels" property="labels" jdbcType="VARCHAR" />
    <result column="cover_url" property="coverUrl" jdbcType="VARCHAR" />
    <result column="pub_time" property="pubTime" jdbcType="TIMESTAMP" />
    <result column="uid" property="uid" jdbcType="INTEGER" />
    <result column="cid" property="cid" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="cn.hegongda.pojo.TArticle" extends="BaseResultMap" >
    <result column="content" property="content" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, title, num, labels, cover_url, pub_time, uid, cid, status
  </sql>
  <sql id="Blob_Column_List" >
    content
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="cn.hegongda.pojo.TArticleExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from t_article
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="cn.hegongda.pojo.TArticleExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_article
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from t_article
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_article
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="cn.hegongda.pojo.TArticleExample" >
    delete from t_article
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="cn.hegongda.pojo.TArticle" >
    <selectKey order="AFTER" resultType="java.lang.Integer" keyProperty="id">
         SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_article (id, title, num, 
      labels, cover_url, pub_time, 
      uid, cid, status, content
      )
    values (#{id,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, #{num,jdbcType=INTEGER}, 
      #{labels,jdbcType=VARCHAR}, #{coverUrl,jdbcType=VARCHAR}, #{pubTime,jdbcType=TIMESTAMP}, 
      #{uid,jdbcType=INTEGER}, #{cid,jdbcType=INTEGER}, #{status,jdbcType=INTEGER}, #{content,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="cn.hegongda.pojo.TArticle" >
    insert into t_article
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="num != null" >
        num,
      </if>
      <if test="labels != null" >
        labels,
      </if>
      <if test="coverUrl != null" >
        cover_url,
      </if>
      <if test="pubTime != null" >
        pub_time,
      </if>
      <if test="uid != null" >
        uid,
      </if>
      <if test="cid != null" >
        cid,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="content != null" >
        content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="num != null" >
        #{num,jdbcType=INTEGER},
      </if>
      <if test="labels != null" >
        #{labels,jdbcType=VARCHAR},
      </if>
      <if test="coverUrl != null" >
        #{coverUrl,jdbcType=VARCHAR},
      </if>
      <if test="pubTime != null" >
        #{pubTime,jdbcType=TIMESTAMP},
      </if>
      <if test="uid != null" >
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="cid != null" >
        #{cid,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="content != null" >
        #{content,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="cn.hegongda.pojo.TArticleExample" resultType="java.lang.Integer" >
    select count(*) from t_article
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_article
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.title != null" >
        title = #{record.title,jdbcType=VARCHAR},
      </if>
      <if test="record.num != null" >
        num = #{record.num,jdbcType=INTEGER},
      </if>
      <if test="record.labels != null" >
        labels = #{record.labels,jdbcType=VARCHAR},
      </if>
      <if test="record.coverUrl != null" >
        cover_url = #{record.coverUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.pubTime != null" >
        pub_time = #{record.pubTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.uid != null" >
        uid = #{record.uid,jdbcType=INTEGER},
      </if>
      <if test="record.cid != null" >
        cid = #{record.cid,jdbcType=INTEGER},
      </if>
      <if test="record.status != null" >
        status = #{record.status,jdbcType=INTEGER},
      </if>
      <if test="record.content != null" >
        content = #{record.content,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update t_article
    set id = #{record.id,jdbcType=INTEGER},
      title = #{record.title,jdbcType=VARCHAR},
      num = #{record.num,jdbcType=INTEGER},
      labels = #{record.labels,jdbcType=VARCHAR},
      cover_url = #{record.coverUrl,jdbcType=VARCHAR},
      pub_time = #{record.pubTime,jdbcType=TIMESTAMP},
      uid = #{record.uid,jdbcType=INTEGER},
      cid = #{record.cid,jdbcType=INTEGER},
      status = #{record.status,jdbcType=INTEGER},
      content = #{record.content,jdbcType=LONGVARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_article
    set id = #{record.id,jdbcType=INTEGER},
      title = #{record.title,jdbcType=VARCHAR},
      num = #{record.num,jdbcType=INTEGER},
      labels = #{record.labels,jdbcType=VARCHAR},
      cover_url = #{record.coverUrl,jdbcType=VARCHAR},
      pub_time = #{record.pubTime,jdbcType=TIMESTAMP},
      uid = #{record.uid,jdbcType=INTEGER},
      cid = #{record.cid,jdbcType=INTEGER},
      status = #{record.status,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="cn.hegongda.pojo.TArticle" >
    update t_article
    <set >
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="num != null" >
        num = #{num,jdbcType=INTEGER},
      </if>
      <if test="labels != null" >
        labels = #{labels,jdbcType=VARCHAR},
      </if>
      <if test="coverUrl != null" >
        cover_url = #{coverUrl,jdbcType=VARCHAR},
      </if>
      <if test="pubTime != null" >
        pub_time = #{pubTime,jdbcType=TIMESTAMP},
      </if>
      <if test="uid != null" >
        uid = #{uid,jdbcType=INTEGER},
      </if>
      <if test="cid != null" >
        cid = #{cid,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="cn.hegongda.pojo.TArticle" >
    update t_article
    set title = #{title,jdbcType=VARCHAR},
      num = #{num,jdbcType=INTEGER},
      labels = #{labels,jdbcType=VARCHAR},
      cover_url = #{coverUrl,jdbcType=VARCHAR},
      pub_time = #{pubTime,jdbcType=TIMESTAMP},
      uid = #{uid,jdbcType=INTEGER},
      cid = #{cid,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      content = #{content,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.hegongda.pojo.TArticle" >
    update t_article
    set title = #{title,jdbcType=VARCHAR},
      num = #{num,jdbcType=INTEGER},
      labels = #{labels,jdbcType=VARCHAR},
      cover_url = #{coverUrl,jdbcType=VARCHAR},
      pub_time = #{pubTime,jdbcType=TIMESTAMP},
      uid = #{uid,jdbcType=INTEGER},
      cid = #{cid,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <insert id="add" parameterType="cn.hegongda.pojo.TArticle" >
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_article (title, num,
    labels, cover_url, pub_time,
    uid, cid, status, content
    )
    values (#{title,jdbcType=VARCHAR}, #{num,jdbcType=INTEGER},
    #{labels,jdbcType=VARCHAR}, #{coverUrl,jdbcType=VARCHAR}, #{pubTime,jdbcType=TIMESTAMP},
    #{uid,jdbcType=INTEGER}, #{cid,jdbcType=INTEGER}, #{status,jdbcType=INTEGER}, #{content,jdbcType=LONGVARCHAR}
    )
  </insert>

  <select id="findAllByPage" parameterType="java.lang.String" resultType="java.util.Map">
      SELECT a.id AS id,a.title AS title, a.num AS num ,a.status AS `status`,a.pub_time AS pubTime,c.cname AS category
      FROM t_article a ,t_article_category c
      WHERE
      <if test="value != null and value != ''">
        `status`=#{value} AND
      </if>
     a.cid=c.id ORDER BY pub_time DESC
  </select>

  <select id="getDayTotal" parameterType="java.lang.Integer" resultType="java.util.Map">
     SELECT `date`, SUM(total) AS total,uid
     FROM t_read_recoder GROUP BY `date`,uid HAVING uid=#{value}
     ORDER BY `date` DESC
  </select>

  <select id="searchByTime" parameterType="java.util.Map" resultType="java.util.Map">
    SELECT `date`, SUM(total) as total,uid FROM t_read_recoder
    GROUP BY `date`
    HAVING `date`>=#{beginTime} AND #{endTime} >= `date` AND #{uid}
    ORDER BY `date` DESC
  </select>

  <select id="getYesterDay" parameterType="java.util.Map" resultType="java.util.Map">
    SELECT r.total AS `value` ,c.cname AS `name`
    FROM t_read_recoder r,t_article_category c
    WHERE `date`=#{date} AND r.cid=c.id AND uid=#{uid}
  </select>


  <select id="getLastWeekNumber" parameterType="java.util.Map" resultType="java.lang.Integer">
     SELECT IFNULL(b.total,0) AS total 
     FROM
     (SELECT #{endTime} AS click_date
        UNION ALL
        SELECT DATE_SUB(#{endTime}, INTERVAL 1 DAY) AS click_date
        UNION ALL
        SELECT DATE_SUB(#{endTime}, INTERVAL 2 DAY) AS click_date
        UNION ALL
        SELECT DATE_SUB(#{endTime}, INTERVAL 3 DAY) AS click_date
        UNION ALL
        SELECT DATE_SUB(#{endTime}, INTERVAL 4 DAY) AS click_date
        UNION ALL
        SELECT DATE_SUB(#{endTime}, INTERVAL 5 DAY) AS click_date
        UNION ALL
        SELECT DATE_SUB(#{endTime}, INTERVAL 6 DAY) AS click_date
    ) a
     LEFT JOIN
    (SELECT `date`,uid, SUM(total) AS total
     FROM t_read_recoder
     GROUP BY `date`
     HAVING uid=#{uid}
    ) b

    ON a.click_date=b.date
    ORDER BY a.click_date ASC

  </select>

  <select id="getPreMonths" parameterType="java.util.Map" resultType="java.lang.Integer">
     SELECT t.total AS total
    FROM
    (SELECT SUM(total) AS total,DATE_FORMAT(`date`,'%Y-%m') AS `date`,uid
    FROM t_read_recoder
    GROUP BY DATE_FORMAT(`date`,'%Y-%m')
    HAVING `date`>=#{beginTime} AND #{endTime} >=  `date` AND uid=#{uid} ) t

  </select>

  <select id="findMaxNumArticle" parameterType="java.lang.Integer" resultType="cn.hegongda.pojo.TArticle">
    SELECT r.`title` AS title,r.`num` AS num,r.`id` AS id
    FROM t_article r INNER JOIN t_article_category c
    ON r.`cid`=c.`id` AND c.`parent_id` =#{value} AND r.`status`=2
    ORDER BY r.`num` DESC
    LIMIT 0,8
  </select>


  <select id="getSupportNum" parameterType="java.lang.Integer" resultType="java.lang.Integer">
      SELECT support_num FROM t_article_expan WHERE aid=#{value}
  </select>

  <insert id="readRecoderToDatabase">
      INSERT INTO t_read_recoder (`date`,total, uid, cid) VALUES (#{date},#{total},#{uid},#{cid})
  </insert>


  <select id="findPublished" resultMap="BaseResultMap">
       select * from t_article where status=2
  </select>

</mapper>