<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.hegongda.mapper.TCommentReportMapper" >
  <resultMap id="BaseResultMap" type="cn.hegongda.pojo.TCommentReport" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="category" property="category" jdbcType="VARCHAR" />
    <result column="comment_id" property="commentId" jdbcType="BIGINT" />
    <result column="uid" property="uid" jdbcType="INTEGER" />
    <result column="report_time" property="reportTime" jdbcType="TIMESTAMP" />
    <result column="status" property="status" javaType="INT" />
  </resultMap>


  <insert id="save" parameterType="cn.hegongda.pojo.Report">
      INSERT  INTO  t_report (content, `type`,report_time,status,cate,cid,uid)
      VALUES (#{content}, #{type},#{reportTime},#{status},#{cate},#{cid},#{uid})
  </insert>


</mapper>