<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../plugins/elementui/index.css">
    <link rel="stylesheet" href="../../plugins/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../css/style.css">
    <link rel="stylesheet" href="../../css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="../../css/bootstrap.min.css">
    <link rel="stylesheet" href="../../css/component.css">
    <!-- 引入组件库 -->
    <script type="text/javascript" src="../../js/jquery.min.js"></script>
    <script src="../../js/vue.js"></script>
    <script src="../../plugins/elementui/index.js"></script>
    <script src="../../js/axios-0.18.0.js"></script>

    <style>
        .tip{
            font-size: 20px;
            font-family: DFKai-SB;
            font-weight: bold;

        }

        .form-control{
            width: 220px;

        }

        .btn-primary{
            margin-left: 25px;
            width: 120px;

        }


    </style>

</head>
<body>
    <div id="app">
      <mk-page></mk-page>

    </div>

    <template id="temp">
        <div id="box">
            <div id="inner_box">
                <div id="one_tip">
                    <span id="one_title">文章管理</span>
                    <span class="pull-right" id="right">首页&nbsp;&nbsp;>&nbsp;&nbsp;文章管理&nbsp;&nbsp;>&nbsp;&nbsp;添加分类</span>
                </div>

                <div id="table" style="height: 300px">
                    <div id="list_form">
                        <div style="margin-top: 30px;margin-left: 300px">
                            <template>
                                <span class="tip" >选择一级分类:</span><br>
                                <el-select v-model="id" placeholder="请选择一级分类" size="medium">
                                    <el-option
                                            v-for="category in categories"
                                            :key="category.id"
                                            :label="category.cname"
                                            :value="category.id">
                                    </el-option>
                                </el-select>
                            </template><br><br>
                            <span class="tip">新增二级分类名称：</span>
                            <input type="text" class="form-control" v-model="cname">
                            <br>
                            <button class="btn btn-primary" @click="add">添&nbsp;&nbsp;&nbsp;&nbsp;加</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </template>
</body>
      <script>

          Vue.component("mkPage",{
              template:"#temp",
              data(){
                  return{
                      categories: [
                          {id:1,cname:'JAVASE'},
                          {id:2,cname:'JAVAEE'},
                          {id:3,cname:'DATEBASE'},
                          {id:4,cname:'WEBPAGE'}
                      ],
                      id: '',
                      cname:''
                  }
              },
              methods:{
                  // 添加二级分类
                  add(){
                    alert("添加了")
                  }
              }
          })
          var vm = new Vue({
              el:'#app',
              data:{


              },
              methods:{

              }
          })
      </script>
</html>