<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../plugins/elementui/index.css">
    <link rel="stylesheet" href="../../plugins/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../css/style.css">
    <link rel="stylesheet" href="../../css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="../../css/bootstrap.min.css">
    <link rel="stylesheet" href="../../css/component.css">
    <!-- 引入组件库 -->
    <script type="text/javascript" src="../../js/jquery.min.js"></script>
    <script src="../../js/vue.js"></script>
    <script src="../../plugins/elementui/index.js"></script>
    <script src="../../js/axios-0.18.0.js"></script>

    <style>
        a:hover{
            cursor: pointer;
        }
    </style>

</head>
<body>
    <div id="app">
       <mk-page></mk-page>
    </div>

    <template id="temp">
        <div id="box">
            <div id="inner_box">
                <div id="one_tip">
                    <span id="one_title">系统管理</span>
                    <span class="pull-right" id="right">首页&nbsp;&nbsp;>&nbsp;&nbsp;系统管理&nbsp;&nbsp;>&nbsp;&nbsp;管理员信息</span>
                </div>

                <div id="table">
                    <div id="list_form">
                     <div class="btn-group" role="group" aria-label="...">
                        <button type="button" class="btn btn-default btn-sm" @click="create">创建</button>
                        <button type="button" class="btn btn-default btn-sm" @click="flush">刷新</button>
                    </div>

                        <div class="input-group" style="width: 300px;height:20px;margin-left: 780px">
                            <input type="text" class="form-control" v-model="pagination.queryString" placeholder="输入管理员姓名进行查找">
                            <span class="input-group-btn">
                                <button class="btn btn-default"  type="button" @click="search">搜索</button>
                            </span>
                        </div>
                    </div>

                    <div id="list">
                        <table class="table table-hover table-bordered table-striped">
                             <tr>
                                 <th>序号</th>
                                 <th>管理员姓名</th>
                                 <th>电话</th>
                                 <th>邮箱</th>
                                 <th>时间</th>
                                 <th>状态</th>
                                 <th>操作</th>
                             </tr>
                            <tr v-for="(admin,index) in admins">
                                <td>{{index+1}}</td>
                                <td>{{admin.username}}</td>
                                <td>{{admin.mobile}}</td>
                                <td>{{admin.email}}</td>
                                <td>{{admin.createTime}}</td>
                                <td>{{admin.status == 1 ? '关闭':'开启'}}</td>
                                <td width="240px">
                                    <a class="detail" @click="showDetail(admin.id)" >详情</a>
                                    &nbsp;&nbsp;&nbsp;&nbsp;
                                    <a v-if="admin.status==0" class="detail" @click="changeStatus(admin.id)" >关闭</a>
                                    <a v-if="admin.status==1" class="detail" @click="changeStatus(admin.id)" >开启</a>
                                    &nbsp;&nbsp;&nbsp;&nbsp;
                                    <a  class="detail" @click="del(admin.id)" >删除</a>
                                    &nbsp;&nbsp;&nbsp;&nbsp;
                                    <a class="detail" @click="addRole(admin.id)" >添加角色</a>
                                </td>
                            </tr>
                        </table>
                    </div>

                    <div id="page">
                        <div class="pagination-container">
                            <el-pagination
                                    class="pagiantion"
                                    @current-change="handleCurrentChange"
                                    :current-page="pagination.currentPage"
                                    :page-size="pagination.pageSize"
                                    layout="total, prev, pager, next, jumper"
                                    :total="pagination.total">
                            </el-pagination>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </template>
</body>
      <script>

          //<!--:href="'article-detail.html?id='+article.id"-->
          Vue.component("mkPage",{
              template:"#temp",
              data(){
                  return{
                      pagination: {//分页相关模型数据
                          currentPage: 1,//当前页码
                          pageSize:10,//每页显示的记录数
                          total:0,//总记录数
                          queryString:null//查询条件
                      },
                      admins:[
                          {id:1,username:'张啊',mobile:'18832030387',email:'1198423961@qq.com',createTime:'2012-12-25 12:00:00',status:1},
                          {id:2,username:'张啊',mobile:'18832030387',email:'1198423961@qq.com',createTime:'2012-12-25 12:00:00',status:0},
                          {id:3,username:'张啊',mobile:'18832030387',email:'1198423961@qq.com',createTime:'2012-12-25 12:00:00',status:0},
                          {id:4,username:'张啊',mobile:'18832030387',email:'1198423961@qq.com',createTime:'2012-12-25 12:00:00',status:1},

                      ]
                  }
              },

              created(){
                  this.findPage();
              },
              methods:{

                  findPage(){
                     var param = {
                         currentPage:this.pagination.currentPage,
                         pageSize:this.pagination.pageSize,
                         queryString:this.pagination.queryString
                     }

                     axios.post("/admin/findAdminUser.do", param).then((res)=>{
                         if (res.data.flag) {
                            this.admins = res.data.rows;
                            this.pagination.total = res.data.total;
                         } else {
                             this.$message.error(res.data.message)
                         }
                     })
                  },
                  // 切换页码
                  handleCurrentChange:function(currentPage) {
                      this.pagination.currentPage = currentPage;
                      this.findPage();
                  },
                  showDetail(id){
                      window.open('/pages/admin-user/admin-detail.html?id='+id)
                  },
                  search(){
                      this.pagination.currentPage = 1;
                      this.findPage();
                  },
                  flush(){
                      this.findPage();
                  },
                  // 删除用户
                  del(id){
                      axios.get("/admin/deleteAdminUserById.do?id="+id).then((res)=>{
                          if (res.data.flag) {
                              this.findPage();
                          } else {
                              this.$message.error(res.data.message)
                          }
                      })
                  },
                  changeStatus(id){
                      axios.get("/admin/changeStatus.do?id="+id).then((res)=>{
                          if (res.data.flag) {
                              this.findPage();
                          } else {
                              this.$message.error(res.data.message)
                          }
                      })
                  },

                  // 为管理员开通新的账号
                  create(){
                      window.location.href='user-add.html'
                  },
                  addRole(id){
                      window.location.href='user-role-add.html?id='+id
                  }
              }
          })
          var vm = new Vue({
              el:'#app',
              data:{

              },
              methods:{

              }
          })
      </script>
</html>