<!DOCTYPE html>
<html lang="en">
<head>
<!-- 页面meta -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>数据 - AdminLTE2定制版</title>
<meta name="description" content="AdminLTE2定制版">
<meta name="keywords" content="AdminLTE2定制版">

<!-- Tell the browser to be responsive to screen width -->
<meta
	content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no"
	name="viewport">


<link rel="stylesheet"
	href="../../adminal/plugins/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet"
	href="../../adminal/plugins/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet"
	href="../../adminal/plugins/ionicons/css/ionicons.min.css">
<link rel="stylesheet"
	href="../../adminal/plugins/iCheck/square/blue.css">
<link rel="stylesheet"
	href="../../adminal/plugins/morris/morris.css">
<link rel="stylesheet"
	href="../../adminal/plugins/jvectormap/jquery-jvectormap-1.2.2.css">
<link rel="stylesheet"
	href="../../adminal/plugins/datepicker/datepicker3.css">
<link rel="stylesheet"
	href="../../adminal/plugins/daterangepicker/daterangepicker.css">
<link rel="stylesheet"
	href="../../adminal/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css">
<link rel="stylesheet"
	href="../../adminal/plugins/datatables/dataTables.bootstrap.css">
<link rel="stylesheet"
	href="../../adminal/plugins/treeTable/jquery.treetable.css">
<link rel="stylesheet"
	href="../../adminal/plugins/treeTable/jquery.treetable.theme.default.css">
<link rel="stylesheet"
	href="../../adminal/plugins/select2/select2.css">
<link rel="stylesheet"
	href="../../adminal/plugins/colorpicker/bootstrap-colorpicker.min.css">
<link rel="stylesheet"
	href="../../adminal/plugins/bootstrap-markdown/css/bootstrap-markdown.min.css">
<link rel="stylesheet"
	href="../../adminal/plugins/adminLTE/css/AdminLTE.css">
<link rel="stylesheet"
	href="../../adminal/plugins/adminLTE/css/skins/_all-skins.min.css">
<link rel="stylesheet"
	href="../../adminal/css/style.css">
<link rel="stylesheet"
	href="../../adminal/plugins/ionslider/ion.rangeSlider.css">
<link rel="stylesheet"
	href="../../adminal/plugins/ionslider/ion.rangeSlider.skinNice.css">
<link rel="stylesheet"
	href="../../adminal/plugins/bootstrap-slider/slider.css">
<link rel="stylesheet"
	href="../../adminal/plugins/bootstrap-datetimepicker/bootstrap-datetimepicker.css">
</head>

	<body class="hold-transition skin-purple sidebar-mini">

	<div class="" id="app">

		<!-- 内容区域 -->
		<div class="content-wrapper" style="margin-left: 25px;margin-right: 25px;height: 650px">


		<!-- 内容头部 -->
			<section class="content-header">
			<h1>
				资源权限管理 <small>添加权限</small>
			</h1>
			<ol class="breadcrumb">
				<li><a href="../adminal/index.jsp"><i
						class="fa fa-dashboard"></i> 首页</a></li>
				<li><a href="../adminal/role/findAll.do">权限管理</a></li>
				<li class="active">添加权限</li>
			</ol>
			</section>
			<!-- 内容头部 /-->

			<form
				method="post">
				<!-- 正文区域 -->
				<section class="content"> <!--产品信息-->

				<div class="panel panel-default">
					<div class="panel-heading">权限信息</div>
					<div class="row data-type">

						<div class="col-md-2 title">权限名称</div>
						<div class="col-md-4 data">
							<input type="text" class="form-control" name="roleName"
								placeholder="权限名称" value="" v-model="permission.permissionName">
						</div>
						<div class="col-md-2 title">权限描述</div>
						<div class="col-md-4 data">
							<input type="text" class="form-control" name="roleDesc"
								placeholder="权限描述" value="" v-model="permission.keyword">
						</div>
						<div class="col-md-2 title"></div>
						<div class="col-md-4 data">
							<input type="hidden" class="form-control" name="userId"
								   placeholder="权限描述" value="" >
						</div>
										

					</div>
				</div>
				<!--订单信息/--> <!--工具栏-->
				<div class="box-tools text-center">
					<button type="button" class="btn bg-maroon" @click="add">保存</button>
					<button type="button" class="btn bg-default"
						onclick="history.back(-1);">返回</button>
				</div>
				<!--工具栏/--> </section>
				<!-- 正文区域 /-->
			</form>
		</div>
		<!-- 内容区域 /-->

		<!-- 底部导航 -->
		<footer class="main-footer">
		<div class="pull-right hidden-xs">
			<b>Version</b> 1.0.8
		</div>
		<strong>Copyright &copy; 2014-2017 <a
			href="http://www.itcast.cn">河工程JAVA论坛中心</a>.
		</strong> All rights reserved. </footer>
		<!-- 底部导航 /-->

	</div>

	<script type="text/javascript" src="../../js/vue-2.4.0.js"/>
	<script>Vue.config.productionTip = false</script>
	<script src="../../js/axios-0.18.0.js"></script>
	<script src="../../plugins/elementui/index.js"></script>

	<script>

        var vm = new Vue({
            el: '#app',
            data: {
                permission: {},
            },
			methods:{
                add(){
                   axios.post("/admin/addPermission.do", this.permission).then((res)=>{
                       if (res.data.flag) {
                           window.location.href = document.referrer;
					   } else {
                           alert(res.data.message) ;
					   }
				   })
                }
			}

        })
	</script>
	

</body>

</html>