<!DOCTYPE html>
<html>
<head>
    <!-- 页面meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>河工程JAVA论坛</title>
    <meta name="description" content="河工程JAVA论坛">
    <meta name="keywords" content="河工程JAVA论坛">
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
    <!-- 引入样式 -->
    <link rel="stylesheet" href="../../plugins/elementui/index.css">
    <link rel="stylesheet" href="../../plugins/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../css/style.css">


    <style type="text/css">
    .el-main {
        position: absolute;
        top: 70px;
        bottom: 0px;
        left: 200px;
        right: 10px;
        padding: 0;
    }


    </style>
</head>
<body class="hold-transition skin-purple sidebar-mini">
    <div id="app">
        <el-container>
            <el-header  class="main-header" style="height:70px;">
                <nav class="navbar navbar-static-top" :class=''>
                    <!-- Logo -->
                    <a href="../protal.html" class="logo" style="text-align:center">
                        <span class="logo-lg"><img src="../../img/hebeu_logo.png" width="200px" height="50px"></span>
                    </a>
                    <div class="right-menu">
                        <el-dropdown class="avatar-container right-menu-item" trigger="click">
                            <div class="avatar-wrapper">
                                <img v-if="!flag"  :src="'http://q2rcyhwpl.bkt.clouddn.com/'+user.avatarName" class="user-avatar" id="1">
                                <img v-if="flag"  src="../../img/avatar5.png" class="user-avatar">
                                {{user.username}}
                            </div>
                            <el-dropdown-menu slot="dropdown">
                                <el-dropdown-item divided>
                                    <span style="display:block;" @click="modifyPassword">修改密码</span>
                                </el-dropdown-item>
                                <el-dropdown-item divided>
                                        <span style="display:block;">
                                            <a href=#" @click="layout">退出 </a></span>
                                    </el-dropdown-item>
                            </el-dropdown-menu>
                        </el-dropdown>
                    </div>
                </nav>
            </el-header>
            <el-container>
                <el-aside width="200px">
                    <el-menu style="background-color: #e6f1fe">
                        <el-submenu v-for="menu in menuList" :index="menu.path">
                            <template slot="title">
                                <i class="fa" :class="menu.icon"></i>
                                {{menu.title}}
                            </template>
                            <template v-for="child in menu.children">
                                <el-menu-item :index="child.path">
                                    <a :href="child.linkUrl+'?id='+user.id" target="right">{{child.title}}</a>
                                </el-menu-item>
                            </template>
                        </el-submenu>
                    </el-menu>
                </el-aside>
                <el-container>
                    <iframe name="right" class="el-main" src="head.html" width="100%" height="580px" frameborder="0"></iframe>
                </el-container>
            </el-container>
        </el-container>
    </div>
</body>
<!-- 引入组件库 -->
<script src="../../js/vue.js"></script>
<script src="../../plugins/elementui/index.js"></script>
<script type="text/javascript" src="../../js/jquery.min.js"></script>
<script type="text/javascript" src="../../js/axios-0.18.0.js"></script>
<script>
    function getId(){
        var qs = location.search.substr(1), // 获取url中"?"符后的字串
            args = {}, // 保存参数数据的对象
            items = qs.length ? qs.split("&") : [], // 取得每一个参数项,
            len = items.length;
        var id = items[0].split("=")[1];

        return id;
    }
    new Vue({
        el: '#app',
        data:{
            user:{
            },
            flag:false,
            menuList:[
                {
                    "path": "1",
                    "title": "POWER",
                    "icon":"fa-dashboard",
                    "linkUrl":"love.html",
                    "children": [
                        {
                            "path": "/1-1",
                            "title": " Trial Begins",
                            "linkUrl":"head.html",
                            "children":[]
                        }
                    ]
                },
                {
                    "path": "2",
                    "title": "我的资料",
                    "icon":"fa-edit",
                    "children": [
                        {
                            "path": "/2-1",
                            "title": "查看资料",
                            "linkUrl":"mydata.html",
                            "children":[]
                        },
                        {
                            "path": "/2-2",
                            "title": "编辑资料",
                            "linkUrl":"editmydata.html",
                            "children":[]
                        },
                    ]
                },
                {
                    "path": "3",
                    "title": "文章管理",
                    "icon":"fa-cog",
                    "children": [
                        {
                            "path": "/3-1",
                            "title": "发布文章",
                            "linkUrl":"../article/publish.html",
                            "children":[]
                        },
                        {
                            "path": "/3-2",
                            "title": "阅读统计",
                            "linkUrl":"../article/artic_report.html",
                            "children":[]
                        },
                        {
                            "path": "/3-3",
                            "title": "我的文章",
                            "linkUrl":"myartic.html",
                            "children":[]
                        },
                    ]
                },
                {
                    "path": "4",
                    "title": '关注管理',
                    "icon":"fa-stethoscope",
                    "children":[
                        {
                            "path": "/4-1",
                            "title": "我的关注",
                            "linkUrl":"../fan-atten/attention.html",
                            "children":[]
                        },
                        {
                            "path": "/4-2",
                            "title": "我的粉丝",
                            "linkUrl":"../fan-atten/fans.html",
                            "children":[]
                        },
                        {
                            "path": "/4-3",
                            "title": "评论管理",
                            "linkUrl":"../article/article-comment.html",
                            "children":[]
                        },
                    ]
                },
                {
                    "path": "5",     //菜单项所对应的路由路径
                    "title": "消息接收",     //菜单项名称
                    "icon":"fa-envelope-square",
                    "children":[
                        {
                            "path": "/5-1",
                            "title": "通知",
                            "linkUrl":"../announce/notice.html",
                            "children":[]
                        },
                        {
                            "path": "/5-2",
                            "title": "公告",
                            "linkUrl":"../announce/announcement.html",
                            "children":[]
                        },
                    ]
                },
            ]
        },
        created(){
            var id = getId();
            //发送请求获取当前登录用户的用户名
            axios.get('/user/getUserById.do?id='+id).then((response)=>{
                if(response.data.flag){
                    this.user = response.data.data;
                    if(this.user.avatarName == null){
                        this.flag = !this.flag
                    }
                }else{
                    // 没有进行登陆
                    var url = window.location.href;
                    window.location.href="/pages/user/login.html?redirectUrl="+url;
                }
            });
        },

        methods:{
            modifyPassword(){
                window.location.href = '/pages/user/edit_password.html'
            },
            layout(){
                // 发送ajax,参数为用户id，通过id使session 失效
                axios.get("/user/layout.do").then((res)=>{
                    if (res.data.flag ) {
                        window.location.href="/pages/protal.html"
                    } else {
                        this.$message.error(res.data.message)
                    }
                });
            }

        }
    });
    $(function() {
            var wd = 200;
            $(".el-main").css('width', $('body').width() - wd + 'px');
    });
</script>
</html>
